$md-styleideaprimary: (
    50 : #fffde7,
    100 : #fff9c4,
    200 : #fff59d,
    300 : #fff176,
    400 : #ffee58,
    500 : #ffeb3b,
    600 : #ffe935,
    700 : #ffe52d,
    800 : #ffe226,
    900 : #ffdd19,
    A100 : #ffffff,
    A200 : #fffffd,
    A400 : #fff7ca,
    A700 : #fff2b1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-styleideasecondary: (
    50 : #e5f8fa,
    100 : #beeef3,
    200 : #92e3ec,
    300 : #66d7e4,
    400 : #46cfde,
    500 : #25c6d8,
    600 : #21c0d4,
    700 : #1bb9ce,
    800 : #16b1c8,
    900 : #0da4bf,
    A100 : #ebfcff,
    A200 : #b8f3ff,
    A400 : #85ebff,
    A700 : #6ce7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-styleideaerror: (
    50 : #ffeded,
    100 : #ffd3d3,
    200 : #ffb5b5,
    300 : #ff9797,
    400 : #ff8181,
    500 : #ff6b6b,
    600 : #ff6363,
    700 : #ff5858,
    800 : #ff4e4e,
    900 : #ff3c3c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe5e5,
    A700 : #ffcbcb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
