@use '~@angular/material' as mat;
@import 'palette';
@import 'globals';
@import 'overwrites';

@include mat.core();


$my-primary: mat.define-palette($md-styleideaprimary, 500);
$my-accent: mat.define-palette($md-styleideasecondary, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette($md-styleideaerror);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  )
));

@include mat.all-component-themes($my-theme);
