/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'assets/styles/style-idea.scss';

html,
body,
ideadb-root {
  height: 100%;
  display: block;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

router-outlet + * {
  flex: 1;
}

.overflowY {
  overflow-y:auto;
}
